body{
font-family: Arial;
margin:0;
padding:0;
text-align:center;
}

header{
background:#222;
color:white;
padding:20px;
}

.hero{
background:#1abc9c;
padding:80px;
color:white;
}

button{
padding:10px 20px;
border:none;
background:black;
color:white;
cursor:pointer;
}

.features{
display:flex;
justify-content:center;
padding:40px;
}

.box{
background:#f4f4f4;
padding:20px;
margin:10px;
width:200px;
border-radius:8px;
}

footer{
background:#222;
color:white;
padding:10px;
}